@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.en {
  width: 13px;
  height: 9px;
  font-family: SourceSansPro;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #999999; }

.zar {
  width: 21px;
  height: 9px;
  font-family: SourceSansPro;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #999999; }

i {
  width: 7px;
  height: 5px;
  font-family: FontAwesome;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #999999; }

.txt {
  width: 349px;
  height: 9px;
  font-family: SourceSansPro;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: 2.4px;
  text-align: left;
  color: #999999;
  margin-left: 14em; }

.container {
  width: 76.063em;
  height: 3.313em;
  background-color: #2d2827; }
  .container li {
    display: inline-block;
    margin-left: 5em; }
  .container ul {
    padding-left: 0; }

.container > * > *:nth-child(2) {
  margin-left: .5em; }

.container > * > *:nth-child(3) {
  margin-left: 2em; }

.container > * > *:nth-child(4) {
  margin-left: .5em; }

.container > * > *:nth-child(6) {
  margin-left: 15em; }

.container > * > *:nth-child(7) {
  margin-left: 1.5em; }

.container > * > *:nth-child(8) {
  margin-left: 1.5em; }

.banner {
  width: 76.063em;
  height: 35.063em;
  background: linear-gradient(to top, #ffffff00, #808080), url(../images/landscape-1483545037-sheer-lingerie-lead-1-min.jpg);
  background-size: cover; }
  .banner li {
    display: inline-block;
    margin: 0 1.5em;
    margin-top: 1em; }
  .banner ul {
    margin-top: 0; }

.banner > * > *:nth-child(1) {
  width: 22px;
  height: 23px;
  font-family: Linearicons-Free;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  text-align: left;
  color: #fff; }

.banner > * > *:nth-child(2) {
  margin-left: 6em;
  width: 36px;
  height: 11px;
  font-family: Dosis;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff; }

.banner > * > *:nth-child(3) {
  width: 34px;
  height: 11px;
  font-family: Dosis;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff; }

.banner > * > *:nth-child(4) {
  width: 44px;
  height: 11px;
  font-family: Dosis;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff; }

.banner > * > *:nth-child(5) {
  width: 117px;
  height: 21px;
  font-family: Dosis;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: left;
  color: #fff;
  margin-left: 3em; }

.banner > * > *:nth-child(6) {
  width: 32px;
  height: 11px;
  font-family: Dosis;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff; }

.banner > * > *:nth-child(7) {
  width: 66px;
  height: 11px;
  font-family: Dosis;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff; }

.banner > * > *:nth-child(8) {
  margin-right: 4em;
  width: 77px;
  height: 11px;
  font-family: Dosis;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff; }

.banner > * > *:nth-child(9) {
  width: 21px;
  height: 18px;
  font-family: FontAwesome;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  text-align: left;
  color: #fff; }

.txt2 {
  width: 597px;
  height: 38px;
  font-family: Dosis;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin: 2em 0 0 6em; }

.lorem {
  width: 924px;
  height: 39px;
  font-family: SourceSansPro;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin: 3em 0 0 13em; }

.text-holder {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #a88d7b;
  margin: 5em 0 0 39em; }

.down {
  width: 29px;
  height: 16px;
  font-family: Linearicons-Free;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #fff; }

.container2 {
  width: 76.063em;
  height: 670px;
  background-color: #fff; }
  .container2 h1 {
    height: 24px;
    font-family: SourceSansPro;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    margin-top: 2em; }
  .container2 hr {
    width: 50px;
    height: 2px;
    background-color: #a88d7b; }
  .container2 img {
    width: 320px;
    height: 295px;
    background-color: #666666;
    display: -webkit-inline-box; }
  .container2 .img-grid {
    display: grid;
    grid-column-gap: 20px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin: 6em 8em 0 4em; }
  .container2 ul {
    list-style-type: none; }
    .container2 ul p {
      height: 18px;
      font-family: SourceSansPro;
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.4;
      letter-spacing: normal;
      text-align: center;
      color: #333333; }

.container3 {
  width: 76.063em;
  height: 705px;
  background-color: #fff; }
  .container3 h1 {
    height: 24px;
    font-family: SourceSansPro;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #333333; }
  .container3 hr {
    width: 50px;
    height: 2px;
    background-color: #a88d7b; }
  .container3 .img-grid2 {
    display: grid;
    grid-column-gap: 20px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding: 2em;
    list-style-type: none; }
    .container3 .img-grid2 img {
      width: 570px;
      height: 373px;
      background-color: #666666;
      display: -webkit-inline-box; }
    .container3 .img-grid2 p {
      height: 16px;
      font-family: SourceSansPro;
      font-size: 25px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.92;
      letter-spacing: 2.5px;
      text-align: center;
      color: #a88d7b; }

.container4 {
  width: 76.063em;
  height: 552px;
  opacity: 0.9;
  background: linear-gradient(to top, #ffffff00, #808080), url(../images/sewing\ machine-min.jpg);
  background-size: cover; }
  .container4 h1 {
    width: 530px;
    height: 37px;
    font-family: Dosis;
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.5;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 180px 0 40px 148px; }
  .container4 p {
    width: 656px;
    height: 38px;
    font-family: SourceSansPro;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin-top: 0;
    margin-left: 5em; }
  .container4 .view {
    width: 150px;
    height: 40px;
    background-color: #a88d7b;
    margin: 5em 0 0 25em; }

.container5 {
  width: 76.063em;
  height: 610px;
  background-color: #fff; }
  .container5 h1 {
    height: 24px;
    font-family: SourceSansPro;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #333333; }
  .container5 hr {
    width: 50px;
    height: 2px;
    background-color: #a88d7b; }
  .container5 .grid {
    display: grid;
    grid-column-gap: 20px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4, 1fr);
    padding: 4em;
    height: 25em; }
    .container5 .grid img {
      width: 585px;
      height: 405px;
      background-color: #666666; }
    .container5 .grid h2 {
      margin-top: 1em;
      width: 370px;
      height: 23px;
      font-family: SourceSansPro;
      font-size: 25px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.92;
      letter-spacing: normal;
      text-align: left;
      color: #333333; }
    .container5 .grid h5 {
      width: 117px;
      height: 14px;
      font-family: SourceSansPro;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 3.2;
      letter-spacing: normal;
      text-align: left;
      color: #999999; }
    .container5 .grid p {
      width: 529px;
      height: 130px;
      font-family: SourceSansPro;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: left;
      color: #666666; }
    .container5 .grid a {
      text-decoration: none;
      width: 85px;
      height: 10px;
      font-family: SourceSansPro;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 3.2;
      letter-spacing: 1.5px;
      text-align: left;
      color: #a88d7b; }
    .container5 .grid i {
      margin-left: .5em;
      width: 15px;
      height: 11px;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 3.2;
      letter-spacing: normal;
      text-align: left;
      color: #a88d7b; }

.footer {
  display: grid;
  grid-column-gap: 20px;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: 76.063em;
  height: 330px;
  background-color: #2d2827; }

.nateb {
  margin-left: 6em; }
  .nateb h1 {
    height: 21px;
    font-family: Dosis;
    font-size: 30px;
    font-weight: 600;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.5px;
    text-align: left;
    color: #fff; }
  .nateb li {
    width: 232px;
    height: 18px;
    font-family: SourceSansPro;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #999999;
    padding: 2em 0;
    display: inline; }
  .nateb ul {
    list-style-type: none; }

.links {
  margin-left: 4em; }
  .links h1 {
    width: 46px;
    height: 12px;
    font-family: SourceSansPro;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #fff; }
  .links li {
    height: 11px;
    font-family: SourceSansPro;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #999999;
    padding: 1.5em 0; }
  .links ul {
    list-style-type: none; }

.shop h1 {
  width: 45px;
  height: 12px;
  font-family: SourceSansPro;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #fff; }
.shop li {
  width: 25px;
  height: 10px;
  font-family: SourceSansPro;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  padding: 1.5em 0; }
.shop ul {
  list-style-type: none; }

.media {
  margin-right: 3em; }
  .media h1 {
    width: 91px;
    height: 13px;
    font-family: SourceSansPro;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #fff; }
  .media .top {
    display: grid;
    grid-column-gap: 20px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    padding-left: 0; }
    .media .top li {
      width: 80px;
      height: 80px;
      background-color: #fff; }
    .media .top li img {
      width: 80px;
    }
  .media .bottom {
    display: grid;
    grid-column-gap: 20px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    padding-left: 0; }
    .media .bottom li {
      width: 80px;
      height: 80px;
      background-color: #fff; }
    .media .bottom li img {
      width: 80px;
      height: 80px;
    }
.footer2 {
  width: 76.063em;
  height: 40px;
  background-color: #fff; }
  .footer2 p {
    height: 14px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
    margin-top: 0; }

/*# sourceMappingURL=main.css.map */
