@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.en {
  width: 13px;
  height: 9px;
  font-family: SourceSansPro;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #999999; }

.zar {
  width: 21px;
  height: 9px;
  font-family: SourceSansPro;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #999999; }

i {
  width: 7px;
  height: 5px;
  font-family: FontAwesome;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #999999; }

.txt {
  width: 349px;
  height: 9px;
  font-family: SourceSansPro;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: 2.4px;
  text-align: left;
  color: #999999;
  margin-left: 14em; }

.container {
  width: 76.063em;
  height: 3.313em;
  background-color: #2d2827; }
  .container li {
    display: inline-block;
    margin-left: 5em; }
  .container ul {
    padding-left: 0; }

.container > * > *:nth-child(2) {
  margin-left: .5em; }

.container > * > *:nth-child(3) {
  margin-left: 2em; }

.container > * > *:nth-child(4) {
  margin-left: .5em; }

.container > * > *:nth-child(6) {
  margin-left: 15em; }

.container > * > *:nth-child(7) {
  margin-left: 1.5em; }

.container > * > *:nth-child(8) {
  margin-left: 1.5em; }

.banner {
  width: 76.063em;
  height: 59.063em;
  background-color: #666666; }
  .banner li {
    display: inline-block;
    margin: 0 1.5em;
    margin-top: 1em; }
  .banner ul {
    margin-top: 0; }

.banner > * > *:nth-child(1) {
  width: 22px;
  height: 23px;
  font-family: Linearicons-Free;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  text-align: left;
  color: #ffffff; }

.banner > * > *:nth-child(2) {
  margin-left: 6em;
  width: 36px;
  height: 11px;
  font-family: Dosis;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff; }

.banner > * > *:nth-child(3) {
  width: 34px;
  height: 11px;
  font-family: Dosis;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff; }

.banner > * > *:nth-child(4) {
  width: 44px;
  height: 11px;
  font-family: Dosis;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff; }

.banner > * > *:nth-child(5) {
  width: 117px;
  height: 21px;
  font-family: Dosis;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: left;
  color: #fffefe;
  margin-left: 3em; }

.banner > * > *:nth-child(6) {
  width: 32px;
  height: 11px;
  font-family: Dosis;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff; }

.banner > * > *:nth-child(7) {
  width: 66px;
  height: 11px;
  font-family: Dosis;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff; }

.banner > * > *:nth-child(8) {
  margin-right: 4em;
  width: 77px;
  height: 11px;
  font-family: Dosis;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff; }

.banner > * > *:nth-child(9) {
  width: 21px;
  height: 18px;
  font-family: FontAwesome;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  text-align: left;
  color: #ffffff; }

.txt2 {
  width: 597px;
  height: 38px;
  font-family: Dosis;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 6em 0 0 6em; }

.lorem {
  width: 924px;
  height: 39px;
  font-family: SourceSansPro;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #e6e6e6;
  margin: 3em 0 0 13em; }

.text-holder {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #a88d7b;
  margin: 10em 0 0 39em; }

.down {
  width: 29px;
  height: 16px;
  font-family: Linearicons-Free;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

.container2 {
  width: 76.063em;
  height: 670px;
  background-color: #fff; }
  .container2 h1 {
    height: 24px;
    font-family: SourceSansPro;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #333333; }
  .container2 hr {
    width: 50px;
    height: 2px;
    background-color: #a88d7b; }
  .container2 li {
    width: 320px;
    height: 295px;
    background-color: #666666;
    display: -webkit-inline-box; }
  .container2 ul {
    padding-left: 8em;
    margin-top: 5em; }

.container3 {
  width: 76.063em;
  height: 705px;
  background-color: #ffffff; }
  .container3 h1 {
    height: 24px;
    font-family: SourceSansPro;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #333333; }
  .container3 hr {
    width: 50px;
    height: 2px;
    background-color: #a88d7b; }
  .container3 li {
    width: 570px;
    height: 373px;
    background-color: #666666;
    display: -webkit-inline-box; }
  .container3 ul {
    margin-top: 5em; }

/*# sourceMappingURL=main.css.map */
