// Global Imports
@import 'partials/variables',
        'partials/mixins',
        'partials/base',
        'partials/components',
        'partials/responsive';
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

//=============================================== HOME PAGE ============================================================= //
// Top Header
.en {
    width: 13px;
    @include font;
}

.zar {
    width: 21px;
    @include font;
}

i {
    @include icon;
}

.txt {
    @include text;
}

.container {
    width: 76.063em;
    height: 3.313em;
    background-color: #2d2827;

    li {
        display: inline-block;
        margin-left: 5em;
    }

    ul {
        padding-left: 0;
    }
}

.container>*>*:nth-child(2) {
    margin-left: .5em;
}
.container>*>*:nth-child(3) {
    margin-left: 2em;
}
.container>*>*:nth-child(4) {
    margin-left: .5em;
}
.container>*>*:nth-child(6) {
    margin-left: 15em;
}
.container>*>*:nth-child(7) {
    margin-left: 1.5em;
}
.container>*>*:nth-child(8) {
    margin-left: 1.5em;
}

// Banner
.banner {
    width: 76.063em;
    height: 35.063em;
    background: linear-gradient(to top, #ffffff00, #808080), url(../images/landscape-1483545037-sheer-lingerie-lead-1-min.jpg); 
    background-size: cover;
    li {
        display: inline-block;
        margin: 0 1.5em;
        margin-top: 1em;
    }
    ul {
        margin-top: 0;
    }
}

.banner>*>*:nth-child(1) {
    width: 22px;
    height: 23px;
    font-family: Linearicons-Free;
    font-size: 22px;
    @include font1;
    line-height: normal;
    letter-spacing: 1.1px;
    text-align: left;
    color: $text;
}
.banner>*>*:nth-child(2) {
    margin-left: 6em;
    width: 36px;
    @include banner-nav;
}
.banner>*>*:nth-child(3) {
    width: 34px;
    @include banner-nav;
}
.banner>*>*:nth-child(4) {
    width: 44px;
    @include banner-nav;
}
.banner>*>*:nth-child(5) {
    width: 117px;
    height: 21px;
    font-family: Dosis;
    font-size: 30px;
    font-weight: 600;
    @include font2;
    letter-spacing: 1.5px;
    text-align: left;
    color: $text;
    margin-left: 3em;
}
.banner>*>*:nth-child(6) {
    width: 32px;
    @include banner-nav;
}
.banner>*>*:nth-child(7) {
    width: 66px;
    @include banner-nav;
}
.banner>*>*:nth-child(8) {
    margin-right: 4em;
    width: 77px;
   @include banner-nav;
}
.banner>*>*:nth-child(9) {
    width: 21px;
    height: 18px;
    font-family: FontAwesome;
    font-size: 22px;
    @include font1;
    line-height: normal;
    letter-spacing: 1.1px;
    text-align: left;
    color: $text;
}

.txt2 {
    width: 597px;
    height: 38px;
    font-family: Dosis;
    font-size: 50px;
    @include font1;
    line-height: 0.96;
    letter-spacing: normal;
    text-align: center;
    color: $text;
    margin: 2em 0 0 6em;
}

.lorem {
    width: 924px;
    height: 39px;
    font-family: SourceSansPro;
    font-size: 15px;
    @include font1;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: $text;
    margin: 3em 0 0 13em;
}

.text-holder {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: $hr;
    margin: 5em 0 0 39em;
}

.down {
    width: 29px;
    height: 16px;
    font-family: Linearicons-Free;
    font-size: 30px;
    @include font1;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: $text;
}

// Featured Product // 
.container2 {
    width: 76.063em;
    height: 670px;
    background-color: $text;

    h1 {
        height: 24px;
        font-family: SourceSansPro;
        font-size: 36px;
        @include font1;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: $txt ;
        margin-top: 2em;
    }

    hr {
        width: 50px;
        height: 2px;
        background-color: $hr;
    }

    img {
        width: 320px;
        height: 295px;
        background-color: $textp;
        display: -webkit-inline-box;
    }

    .img-grid{
        display: grid;
        grid-column-gap: 20px;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(3, 1fr);
        margin: 6em 8em 0 4em;
    }
    ul {
        list-style-type: none;

        p {
            height: 18px;
            font-family: SourceSansPro;
            font-size: 20px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.4;
            letter-spacing: normal;
            text-align: center;
            color: $txt ;
        }
    }
}

// New Collection // 
.container3 {
    width: 76.063em;
    height: 705px;
    background-color: $text;

    h1 {
        height: 24px;
        font-family: SourceSansPro;
        font-size: 36px;
        @include font1;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: $txt ;
    }

    hr {
        width: 50px;
        height: 2px;
        background-color: $hr;
    }

    .img-grid2 {
        display: grid;
        grid-column-gap: 20px;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(2, 1fr);
        padding: 2em;
        list-style-type: none;

        
        img {
            width: 570px;
            height: 373px;
            background-color: $textp;
            display: -webkit-inline-box;
        }

        p {
            height: 16px;
            font-family: SourceSansPro;
            font-size: 25px;
            @include font1;
            line-height: 1.92;
            letter-spacing: 2.5px;
            text-align: center;
            color: $hr;
        }
    }
}

// Hand Craft // 
.container4 {
        width: 76.063em;
        height: 552px;
        opacity: 0.9;
        background: linear-gradient(to top, #ffffff00, #808080), url(../images/sewing\ machine-min.jpg);
        background-size: cover;
    

    h1 {
        width: 530px;
        height: 37px;
        font-family: Dosis;
        font-size: 48px;
        @include font1;
        line-height: 0.5;
        letter-spacing: normal;
        text-align: center;
        color: $text;
        margin: 0;
        padding: 180px 0 40px 148px;
    }

    p {
        width: 656px;
        height: 38px;
        font-family: SourceSansPro;
        font-size: 15px;
        @include font1;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: center;
        color: $text;
        margin-top: 0;
        margin-left: 5em;
    }

    .view {
        width: 150px;
        height: 40px;
        background-color: $hr;
        margin: 5em 0 0 25em;
    }
}

// Our Blog // 
.container5 {
    width: 76.063em;
    height: 610px;
    background-color: $text;
   

    h1 {
        height: 24px;
        font-family: SourceSansPro;
        font-size: 36px;
        @include font1;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: $txt ;
    }

    hr {
        width: 50px;
        height: 2px;
        background-color: $hr;
    }

    .grid {
        @include grid;
        padding: 4em;
        height: 25em;

        img {
            width: 585px;
            height: 405px;
            background-color: $textp;
        }

        h2 {
            margin-top: 1em;
            width: 370px;
            height: 23px;
            font-family: SourceSansPro;
            font-size: 25px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.92;
            letter-spacing: normal;
            text-align: left;
            color: $txt ;
        }

        h5{
            width: 117px;
            height: 14px;
            font-family: SourceSansPro;
            font-size: 15px;
            @include font1;
            line-height: 3.2;
            letter-spacing: normal;
            text-align: left;
            color: $textli;
        }

        p {
            width: 529px;
            height: 130px;
            font-family: SourceSansPro;
            font-size: 15px;
            @include font1;
            line-height: 1.67;
            letter-spacing: normal;
            text-align: left;
            color: $textp;
        }

        a {
            text-decoration: none;
            width: 85px;
            height: 10px;
            font-family: SourceSansPro;
            font-size: 15px;
            @include font1;
            line-height: 3.2;
            letter-spacing: 1.5px;
            text-align: left;
            color: $hr;
        }

        i {
            margin-left: .5em;
            width: 15px;
            height: 11px;
            font-size: 15px;
            @include font1;
            line-height: 3.2;
            letter-spacing: normal;
            text-align: left;
            color: $hr;
        }
    }
}

// Footer // 
.footer {
    @include grid;
    width: 76.063em;
    height: 330px;
    background-color: #2d2827;
}

.nateb {
    margin-left: 6em;

    h1 {
        height: 21px;
        font-family: Dosis;
        font-size: 30px;
        font-weight: 600;
        @include font1;
        letter-spacing: 1.5px;
        text-align: left;
        color: $text;
    }

    li {
        width: 232px;
        height: 18px;
        font-family: SourceSansPro;
        font-size: 15px;
        @include font1;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: left;
        color: $textli;
        padding: 2em 0;
        display: inline;
    }

    ul {
        list-style-type: none;
    }
}

.links {
    margin-left: 4em;

    h1 {
        width: 46px;
        height: 12px;
        font-family: SourceSansPro;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: $text;
    }

    li {
        height: 11px;
        font-family: SourceSansPro;
        font-size: 15px;
        @include font1;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: left;
        color: $textli;
        padding: 1.5em 0;
    }

    ul {
        list-style-type: none;
    }
}

.shop {
    h1 {
        width: 45px;
        height: 12px;
        font-family: SourceSansPro;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: $text;
    }

    li {
        width: 25px;
        height: 10px;
        font-family: SourceSansPro;
        font-size: 15px;
        @include font1;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: left;
        color: $textli;
        padding: 1.5em 0;
    }

    ul {
        list-style-type: none;
    }
}

.media {

    margin-right: 3em;
    h1 {
        width: 91px;
        height: 13px;
        font-family: SourceSansPro;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: $text;
    }

    .top {    
        @include grid;
        list-style-type: none;
        padding-left: 0;
        
        li {
            width: 80px;
            height: 80px;
            background-color: $text;

            img {
                width: 80px;
            }
        }
    }


    .bottom {
        @include grid; 
        list-style-type: none;
        padding-left: 0;

        li {
            width: 80px;
            height: 80px;
            background-color: $text;

            img {
                width: 80px;
                height: 80px;
            }
        }
    }
}

.footer2 {
    width: 76.063em;
    height: 40px;
    background-color: $text;

    p {
        height: 14px;
        font-family: SourceSansPro;
        font-size: 14px;
        @include font1;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: center;
        color: $textp;
        margin-top: 0;
    }
}

// ========================================== ABOUT PAGE ================================================================= // 
// Top Header
.head {
    width: 78.063em;
    height: 3.313em;
    background-color:  #eeeeee;

    .en2 {
        width: 12px;
        height: 8px;
        font-family: SourceSansPro;
        font-size: 12px;
        font-weight: 300;
        @include font2;
        letter-spacing: normal;
        text-align: center;
        color: $textli ;
    }

    .zar2 {
        width: 20px;
        height: 8px;
        font-family: SourceSansPro;
        font-size: 12px;
        font-weight: 300;
        @include font2;
        letter-spacing: normal;
        text-align: center;
        color: $textli ;
        padding-left: 15em;
    }

    .txt2 {
        width: 349px;
        height: 10px;
        font-family: SourceSansPro;
        font-size: 12px;
        @include font1;
        line-height: 1.83;
        letter-spacing: 2.4px;
        text-align: left;
        color: $textli ;
    }

    li {
        display: inline-block;
        margin-left: 3.5em;
    }

    ul {
       padding-left: 3.5em;
       margin: 0;
    }
}

.head>*>*:nth-child(2) {
    margin-left: 5px;
}

.head>*>*:nth-child(8) {
    margin-left: 5px;
}

// Navigation Bar
.navigation {
    width: 76.063em;
    height: 56px;
    background-color: $text;

    h1 {
        width: 116px;
        height: 22px;
        font-family: Dosis;
        font-size: 30px;
        font-weight: 600;
        @include font2;
        letter-spacing: 1.5px;
        text-align: left;
        color: #000000;
    }

    ul {
        padding-left: 10em;
        margin: 0;
    }

    li {
        display: inline-block;
        margin: 0 5px 0 5px;
    }

    a {
        text-decoration: none;
    }
}

.navigation>*>*:nth-child(1) {
    height: 22px;
    font-family: Dosis;
    font-size: 30px;
    font-weight: 600;
    @include font2;
    letter-spacing: 1.5px;
    text-align: left;
    color: #000000;
}

.navigation>*>*:nth-child(2) {
    @include nav;
    padding-left: 17em;
}

.navigation>*>*:nth-child(3) {
    @include nav; 
}

.navigation>*>*:nth-child(4) {
    @include nav;
}

.navigation>*>*:nth-child(5) {
    @include nav; 
} 

.navigation>*>*:nth-child(6) {
    @include nav; 
}

.navigation>*>*:nth-child(7) {
    @include nav; 
}

.navigation>*>*:nth-child(8) {
    width: 21px;
    height: 18px;
    font-family: FontAwesome;
    font-size: 22px;
    @include font1;
    line-height: normal;
    letter-spacing: 1.1px;
    text-align: left;
    color: $textp;
}

.navigation>*>*:nth-child(9) {
    width: 19px;
    height: 19px;
    font-family: FontAwesome;
    font-size: 20px;
    @include font1;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: $textp;
}

// About us
.about-us {
    width: 78.063em;
    height: 485px;  
    background: linear-gradient(to top, #ffffff00, #808080), url(../images/about-min.jpg);
    background-size: cover;

    h1 {
        height: 35px;
        font-family: SourceSansPro;
        font-size: 50px;
        @include font1;
        line-height: 1.2;
        letter-spacing: 5px;
        text-align: center;
        color: $text;
        margin: 0;
        padding: 4em 0 1em 0;
    }

    span {
        height: 13px;
        font-family: SourceSansPro;
        font-size: 15px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: center;
        color: #8e8888;
        padding-left: 38em;
    }

    a {
        color: #8e8888;
        text-decoration: none;
    }
}

// who are we
.who-we-are {
    display: grid;
    grid-column-gap: 20px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr); 
    padding: 6em;

    img {
        width: 600px;
        height: 490px;
        background-color: $textp;
    }

    h1 {
        height: 24px;
        font-family: SourceSansPro;
        font-size: 36px;
        @include font1;
        line-height: 0.67;
        letter-spacing: normal;
        text-align: center;
        color: $txt ;
    }

    hr {
        width: 50px;
        height: 2px;
        background-color: $hr;
    }

    p {
        width: 445px;
        height: 89px;
        font-family: SourceSansPro;
        font-size: 15px;
        @include font1;
        line-height: 1.1;
        letter-spacing: normal;
        text-align: left;
        color: $textp;
    }
}

// Meet the team

.meet-our-team {
    width: 78.063em;    
    height: 585px;
    background-color: $text;

    h1 {
        height: 24px;
        font-family: SourceSansPro;
        font-size: 36px;
        @include font1;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: $txt ;
    }

    hr {
        width: 50px;
        height: 2px;
        background-color: $hr;
    }
}

.gridteam {
    @include grid; 
    padding: 3em;

    img {
        width: 270px;
        height: 305px;
        background-color: $textp;
        display: inline-block;
    }

    h3,
    h4,
    ul {
        text-align: center;
    }

    h3 {
        height: 19px;
        font-family: SourceSansPro;
        font-size: 20px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.4;
        letter-spacing: 1px;
        text-align: center;
        color: $txt ;
    }

    h4 {
        height: 14px;
        font-family: SourceSansPro;
        font-size: 15px;
        @include font1;
        line-height: 1.47;
        letter-spacing: normal;
        text-align: center;
        color: $textli;
    }
    
    ul {
        list-style-type: none;
        padding-left: 0;
    }

    li {
        display: inline;
        margin: 0 10px 0 10px;
    }
}

// What we do
.what-we-do {
    width: 72.063em;
    height: 515px;
    background-color: $text;
    display: grid;
    grid-column-gap: 20px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2em 0 3em; 

    img {
        width: 600px;
        height: 490px;
        background-color: $textp;
    }

    h1 {
        height: 24px;
        font-family: SourceSansPro;
        font-size: 36px;
        @include font1;
        line-height: 0.67;
        letter-spacing: normal;
        text-align: center;
        color: $txt ;
    }

    hr {
        width: 50px;
        height: 2px;
        background-color: $hr;
    }

    p {
        height: 110px;
        font-family: SourceSansPro;
        font-size: 15px;
        @include font1;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: left;
        color: $textp;
    }
} 

// // =======================================CONTACT PAGE ============================================================== // //

.contact-us {
    width: 78.063em;
    height: 485px;  
    background: linear-gradient(to top, #ffffff00, #808080), url(../images/contact-banner-min.jpg);
    background-size: cover;

    h1 {
        height: 35px;
        font-family: SourceSansPro;
        font-size: 50px;
        @include font1;
        line-height: 1.2;
        letter-spacing: 5px;
        text-align: center;
        color: $text;
        margin: 0;
        padding: 4em 0 1em 0;
    }

    span {
        height: 13px;
        font-family: SourceSansPro;
        font-size: 15px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: center;
        color: $txta ;
        padding-left: 38em;
    }

    a {
        color: $txta ;
        text-decoration: none;
    }
}

article {
    padding: 8em;
    padding-bottom: 4em;

    .trading {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(3, 1fr);
        height: 200px;
        border: solid 1px #e6e6e6;
        background-color: #f0f0f0;

        h2,
        p {
            text-align: center;
        }

        .contact {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

form {
    text-align: center;

    #name {
        padding-right: 23em;
        margin: 2em;
        height: 2em;
    }

    #email {
        padding-right: 23em;
        margin: 2em;
        height: 2em;
    }

    #phonenumber {
        padding-right: 23em;
        margin: 2em;
        height: 2em;
    }

    #subject {
        padding-right: 23em;
        margin: 2em;
        height: 2em;
    }

    #textarea {
        width: 75em;
        height: 12em;
        margin-bottom: 3em;
    }

    button {
        height: 3em;
        float: left;
        margin-left: 9em;
        margin-bottom: 4em;
        background-color: $hr;
        font-family: SourceSansPro;
        font-size: 15px;
        @include font1;
        line-height: 1.4;
        letter-spacing: 1.5px;
        text-align: center;
        color: $text;
    }
}

// =================================== BLOG PAGE ==========================================================================//

.blog {
    width: 78.063em;
    height: 485px;  
    background: linear-gradient(to top, #ffffff00, #808080), url(../images/rs=w_700\,cg_true-min.jpg);
    background-size: cover;

    
    h1 {
        height: 35px;
        font-family: SourceSansPro;
        font-size: 50px;
        @include font1;
        line-height: 1.2;
        letter-spacing: 5px;
        text-align: center;
        color: $text;
        margin: 0;
        padding: 4em 0 1em 0;
    }

    span {
        height: 13px;
        font-family: SourceSansPro;
        font-size: 15px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: center;
        color: $txta ;
        padding-left: 38em;
    }

    a {
        color: $txta ;
        text-decoration: none;
    }
}

.hero {
    li {
        display: inline;
        margin: 0 10px;
        width: 39px;
        height: 12px;
        font-family: SourceSansPro;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: center;
        color: $textp;
    }

    img {
        width: 20px;
        color: $textp;
    }
}

.hero>*>*:nth-child(1) {
    margin-left: 12em;
}
.hero>*>*:nth-child(2) {
    margin-left: 35em;
}

.line {
    width: 1170px;
    height: 1px;
    background-color: #e6e6e6;
}

.bloggrid {
    display: grid;
    grid-column-gap: 20px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);

    img {
        width: 370px;
        height: 225px;
        background-color: #666666;
    }
}